<link href="/shopy/css/flexslider.css" rel="stylesheet" />
<script src="/shopy/js/jquery.flexslider-min.js"></script>
<script src="/shopy/js/homeslider-flexslider.js"></script>

<div class="flexslider">
    <ul class="slides">
        <!-- THE FIRST SLIDE -->
        <li style="background-color: rgb(58, 132, 156)">
            <!-- THE MAIN IMAGE IN THE SLIDE -->
            <img src="/shopy/img/transparent.png" alt="" />

            <!-- THE CAPTIONS OF THE FIRST SLIDE -->
            <div class="flex-caption h6 text-bold gfc uppercase animated"
                 data-animation="fadeInLeftBig"
                 data-x="340"
                 data-y="60"
                 data-speed="600"
                 data-start="1200">New Collection</div>

            <div class="flex-caption herotext text-bold gfc animated"
                 data-animation="fadeInRightBig"
                 data-x="150"
                 data-y="80"
                 data-speed="900"
                 data-start="2000">Autumn Fashions</div>

            <div class="flex-caption h6 text-bold gfc text-center animated"
                 data-animation="fadeInDown"
                 data-x="190"
                 data-y="190"
                 data-speed="1600"
                 data-start="2900">
                Comfy knits and warm jackets for cooler Autumn days<br/>
                <a href="products.php" class="btn btn-primary uppercase">Shop Now</a>
            </div>

        </li>

        <!-- THE SECOND SLIDE -->
        <li style="background: #fa6f57;">
            <!-- THE MAIN IMAGE IN THE SLIDE -->
            <img src="/shopy/img/transparent.png" alt="" />

            <div class="flex-caption super-giant gfc animated uppercase"
                 data-animation="fadeInUp"
                 data-x="center"
                 data-y="30"
                 data-speed="500"
                 data-start="900">Sale</div>

            <!--			<div id="caption-left-round" class="flex-caption round gfc animated uppercase"-->
            <!--			data-animation="fadeInLeftBig"-->
            <!--			data-x="140"-->
            <!--			data-y="60"-->
            <!--			data-speed="600"-->
            <!--			data-start="1200"><div class="vmid"><span>Mid<br/>Season</span></div></div>-->

            <div class="flex-caption round gfc animated uppercase"
                 data-animation="fadeInRightBig"
                 data-x="925"
                 data-y="30"
                 data-speed="600"
                 data-start="1200"><div class="vmid"><span>Up to<br/>70% off</span></div></div>

            <div class="flex-caption h3 gfc animated uppercase"
                 data-animation="fadeInDown"
                 data-x="center"
                 data-y="220"
                 data-speed="400"
                 data-start="1800"><strong class="text-bold">500’s </strong>of New Products</div>

        </li>

        <!-- THE SECOND SLIDE -->
        <li style="background-color: rgb(64, 183, 104)">
            <!-- THE MAIN IMAGE IN THE SLIDE -->
            <img src="/shopy/img/transparent.png" alt="" />

            <div class="flex-caption herotext text-bold gfc bg-dark animated uppercase"
                 data-animation="fadeInUpBig"
                 data-x="160"
                 data-y="60"
                 data-speed="900"
                 data-start="100">Free Shipping</div>

            <div class="flex-caption h2 text-bold gfc bg-dark animated uppercase"
                 data-animation="fadeInUpBig"
                 data-x="178"
                 data-y="175"
                 data-speed="600"
                 data-start="900">On Order over $2.000</div>

        </li>

    </ul>
</div>